<html>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{{$conf.site.url}}/index.php/resource/css/root.css" />
	<link rel="stylesheet" href="{{$conf.site.url}}/index.php/resource/css/theme.css" />
	<head>
		<title>{{$conf.site.title}}</title>
	</head>
	<body>
		<div id="header">
			<div class="logo">
				<h1>{{$conf.site.title}}</h1>
			</div>

			<hr class="clear" />
		</div>

		<div class="root-container">
			{{$mainContents}}
		</div>
	</body>
</html>
