[submodule "lib/object"]
	path = lib/object
	url = git@github.com:kurari/NyaaObject.git
[submodule "lib/store"]
	path = lib/store
	url = git@github.com:kurari/NyaaStore.git
[submodule "lib/log"]
	path = lib/log
	url = git@github.com:kurari/NyaaLog.git
[submodule "lib/db"]
	path = lib/db
	url = git@github.com:kurari/NyaaDB.git
[submodule "lib/templater"]
	path = lib/templater
	url = git@github.com:kurari/NyaaTemplater.git
[submodule "lib/fw"]
	path = lib/fw
	url = git@github.com:kurari/NyaaFW.git
[submodule "lib/conf"]
	path = lib/conf
	url = git@github.com:kurari/NyaaConf.git
[submodule "lib/cache"]
	path = lib/cache
	url = git@github.com:kurari/NyaaCache.git
